.page--marcas {
	.hero {
		background: url("../assets/fundo-marcas.png?as=webp") no-repeat;
		height: 85vh;
		padding-top: 140px;
		position: relative;
		overflow: hidden;
		@include media(s) {
			height: 100vh;
		}
		&::before {
			content: url("../assets/detalhes-marcas-bf.png");
			position: absolute;
			bottom: -80px;
			left: -170px;
			@media (max-width: 1366px) {
				bottom: -130px;
			}
			@media (min-width: 1800px) {
				bottom: -10px;
			}
			@include media(s) {
				content: url("../assets/alimentos-mobile-bf.png");
				bottom: 40px !important;
				z-index: 3;
			}
		}
		&::after {
			content: url("../assets/detalhes-marcas-af.png");
			position: absolute;
			bottom: -80px;
			right: 0px;
			@media (max-width: 1366px) {
				bottom: -100px;
			}
			@media (min-width: 1800px) {
				bottom: -10px;
			}
			@include media(s) {
				content: url("../assets/alimentos-mobile.png");
				bottom: -22px !important;
				z-index: 5;
			}
		}
		&_container {
			@include media(s) {
				overflow: hidden;
			}
			.tag {
				margin: 0 auto;
				text-align: center;
				max-width: 211px;
				display: block;
				background: transparent;
				color: #fff;
				@include media(s) {
					font-style: normal;
					font-size: 16px;
					line-height: 19px;
				}
			}
			@include container;
		}
		.d-title {
			@include general-title;
			text-align: center;
			color: #fff;
			font-weight: 600;
			margin: 16px 0 32px;
			@include media(s) {
				font-size: 30px;
				line-height: 36px;
			}
		}
		&_content {
			display: flex;
			gap: 32px;
			@include media(s) {
				flex-direction: column;
				height: 500px;
				position: relative;
			}
			.left-column {
				max-width: 55%;
				margin-top: 40px;
				@include media(s) {
					max-width: 100%;
					margin-top: 0;
					position: relative;
					z-index: 2;
				}
				img {
					max-width: 100%;
					height: auto;
				}
				@media (min-width: 1800px) {
					max-width: 60%;
					margin-top: 60px;
				}
			}
			.right-column {
				max-width: 55%;
				margin-top: 20px;
				@include media(s) {
					max-width: 80%;
					left: 0;
					right: -120px;
					margin: 0 auto;
					position: absolute;
					top: 100px;

					z-index: 4;
				}
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
	&.higiene {
		.hero {
			background: url("../assets/fundo-marcas-hg.png");
			&::before {
				content: url("../assets/detalhes-marcas-bf-hg.png");
				bottom: 0;
				@include media(s) {
					bottom: 60px !important;
				}
			}
			&::after {
				content: url("../assets/detalhes-marcas-af-hg.png");
				bottom: -13px;
				@include media(s) {
					bottom: -130px !important;
					right: -163px;
					transform: scale(0.7);
				}
			}
			.right-column {
				height: 100%;
				margin-top: 120px;
				@include media(s) {
					top: 125px;
				}
			}
		}
		.video {
			.left-column {
				.d-title {
					color: #562579;
				}
				.d-text {
					color: #8f4bc0;
				}
				.button {
					background-color: #8f4bc0;
				}
			}
			.right-column {
				&::before {
					content: url("../assets/curva-vd-hg.svg");
				}
				&::after {
					content: url("../assets/flor.png");
				}
			}
		}
		.marcas {
			background-color: #fbf3ff;

			&_card {
				@include media(s) {
					max-width: 120px;
					background-color: transparent;
					img {
						max-width: 100px;
					}
				}
			}
			.d-title {
				color: #772cae;
			}
			&_container {
				&::before,
				&::after {
					display: none;
				}
			}
			&_content {
				background-color: #fbf3ff;
				border: 1px solid #bd87e3;
				max-width: 500px;
				margin: 82px auto 260px;
				@include media(s) {
					justify-content: space-between;
				}
			}

			&_holder {
				.d-text {
					color: #772cae;
				}
				.info {
					.tag {
						color: #bd87e3;
						background-color: #fff;
						border: 1px solid #772cae;
					}
				}
			}
			.wall {
				background-color: #914cc1;
				img {
					margin-right: 0;
				}
				&_holder {
					border-color: #772cae;
				}
				&-obj {
					top: -20px;

					left: 0;
					right: 0;
					margin: 0 auto;
				}
			}
		}
	}
	&.limpeza {
		.hero {
			background: url("../assets/fundo-marcas-lp.png");
			&::before {
				content: url("../assets/detalhes-marcas-bf-lp.png");
			}
			&::after {
				content: url("../assets/detalhes-marcas-af-lp.png");
				@include media(s) {
					transform: scale(0.7);
					right: -200px;
					bottom: -80px !important;
				}
			}
			&_content {
				.left-column {
					margin-top: -77px;
					@media (min-width: 1800px) {
						margin-top: -55px;
					}
				}
				.right-column {
					margin-top: -147px;
					@media (min-width: 1800px) {
						margin-top: -110px;
					}
				}
			}
		}
		.video {
			.left-column {
				.d-title {
					color: #1e67a9;
				}
				.d-text {
					color: #1e67a9;
				}
				.button {
					background-color: #1e67a9;
				}
			}
			.right-column {
				&::before {
					content: url("../assets/curva-vd-lp.svg");
				}
				&::after {
					content: url("../assets/bolhas.png");
				}
			}
		}
		.marcas {
			background-color: #eef8ff;
			.d-title {
				color: #1e67a9;
			}
			&_container {
				&::before,
				&::after {
					display: none;
				}
			}
			&_content {
				background-color: #fbf3ff;
				border: 1px solid #1eade2;
				max-width: 1000px;
				margin: 82px auto 260px;
				@include media(s) {
					margin-bottom: 80px;
				}
			}
			&_card {
				padding: 10px 20px;
				svg {
					max-width: 100%;
					height: auto;
				}
				img {
					max-width: 100%;
					height: auto;
				}
			}

			&_holder {
				&.flamengo {
					@include media(s) {
						padding-left: 24px;
						.info {
							padding-left: 0;
						}
					}
				}
				.d-text {
					color: #1e67a9;
				}
				.info {
					.tag {
						color: #3980c0;
						background-color: #fff;
						border: 1px solid #1e67a9;
					}
				}
				&.right {
					.wall {
						img {
							margin-bottom: 0px;
							max-width: 100%;
						}
						&-obj {
							left: -50px;
							top: -60px !important;
							@include media(s) {
								top: -20px !important;
							}
						}
					}
				}
			}
			.wall {
				background-color: #2751cd;
				img {
					margin-right: 0;
					max-width: 100%;
					margin-bottom: -30px;
				}
				&_holder {
					border-color: #008bec;
				}
				&-obj {
					top: -20px;
					max-width: 550px;
					left: -150px;
					right: 0;
					margin: 0 auto;
					&.bemte {
						@include media(s) {
							max-width: 170px !important;
							left: 0px;
						}
					}
					&.aliado {
						@include media(s) {
							top: -20px !important;
							left: 0;
						}
					}
					@include media(s) {
						max-width: 250px;
						left: -100px;
						top: 0;
					}
				}
			}
		}
	}
}

.video {
	margin-top: -43px;
	z-index: 4;
	position: relative;
	@media (max-width: 1366px) {
		margin-top: -37px;
	}
	@include media(s) {
		margin-top: 0 !important;
	}
	.bd-cima {
		overflow: hidden;
		max-width: 100%;
		height: auto;
		@include media(s) {
			margin-top: -39px;
		}
	}
	.bd-baixo {
		margin-top: -300px;
		max-width: 100%;
		height: auto;
		@media (max-width: 1366px) {
			margin-top: -240px;
		}

		@media (min-width: 1800px) {
			margin-top: -320px;
		}
		@include media(s) {
			margin-top: 0 !important;
		}
	}
	&_container {
		@include container;
		display: flex;
		gap: 100px;
		position: relative;
		z-index: 3;
		@include media(s) {
			flex-direction: column;
			padding: 0 32px;
			padding-top: 40px;
		}

		padding-top: 120px;
		.left-column {
			.d-title {
				color: #f9a51a;
				font-weight: 600;
				margin: 32px 0;
				@include media(s) {
					margin-top: 16px;
				}
			}

			.d-text {
				color: #815003;
				&.bold {
					font-weight: 600;
					font-size: 19px;
					line-height: 22px;
					margin-bottom: 24px;
				}
			}
			.button--container {
				display: inline-block;
				margin-top: 32px;
				.button {
					background-color: #f9a51a;
					padding: 8px 20px;
					@include text;
					text-decoration: none;
					color: #fff;
					font-weight: 600;
					border-radius: 32px;
					display: flex;
					align-items: center;
					gap: 16px;
				}
			}
		}
		.right-column {
			max-width: 550px;
			width: 100%;
			flex-shrink: 0;
			position: relative;
			&::before {
				content: url("../assets/curva-vd.png");
				position: absolute;
				left: -35px;
				bottom: 50px;
				transform: scale(0.6);
				@include media(s) {
					bottom: -35px;
					left: -30px;
				}
			}
			&::after {
				content: url("../assets/quase-milho.png");
				position: absolute;
				right: -40px;
				top: -50px;
				transform: scale(0.6);
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.marcas {
	background-color: #fffbf3;
	padding: 120px 0 150px;
	overflow: hidden;
	.d-title {
		text-align: center;
		font-size: 40px;
		max-width: 660px;
		margin: 0 auto;
		line-height: 63px;
		font-weight: 600;
		color: #3fa145;
		position: relative;
		@include media(s) {
			font-size: 24px;
			line-height: 21px;
		}
		&::after {
			content: url("../assets/asset-title-marcas.svg");
			position: absolute;
			right: -5px;
			bottom: -15px;
			@include media(s) {
				right: 0;
				background-image: url("../assets/asset-title-marcas.svg");
				content: "";
				background-repeat: no-repeat;
				background-size: contain;
				width: 200px;
				height: 20px;
				right: 34px;
				bottom: -18px;
			}
		}
	}
	&_container {
		position: relative;

		@include container;
		@include media(s) {
			padding: 0 24px;
		}
		&::before {
			content: url("../assets/folha.png");
			position: absolute;
			z-index: 1;
			left: -50px;

			top: -60px;
		}
		&::after {
			content: url("../assets/folha.png");
			position: absolute;
			z-index: 1;
			right: -50px;
			top: -60px;
			transform: scaleX(-1);
		}
	}
	&_content {
		border-radius: 12px;
		border: 1px solid #3fa145;
		display: flex;
		padding: 16px 24px;
		margin-top: 82px;
		align-items: center;
		background-color: #fffbf3;
		@include media(s) {
			overflow: auto;
		}

		gap: 32px;
		position: relative;
		z-index: 2;
		margin-bottom: 260px;
	}
	&_card {
		background-color: #fff;
		width: 213px;
		height: 110px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px 12px 12px 12px;
		@include media(s) {
			background-color: #fffbf3;
			max-width: 100px;
			width: 100%;
			flex-shrink: 0;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	&_holder {
		display: flex;
		gap: 100px;
		justify-content: start;
		margin-bottom: 120px;
		position: relative;
		@include media(s) {
			flex-direction: column-reverse;
			padding-right: 24px;
			gap: 40px;
			margin-bottom: 60px;
			&.right {
				padding-right: 0;
				.info {
					padding: 0 24px;
				}
			}
		}

		&.right {
			justify-content: end;
			.wall {
				border-radius: 232px 0px 0px 232px;
				img {
					max-width: 100%;
				}
				&-obj {
					max-width: 360px;
					left: 0;
					right: -50px !important;
					margin: 0 auto;
					top: 0px !important;

					@include media(s) {
						max-width: 60%;
						top: -18px !important;
					}
				}
				&_holder {
					border: 1px solid #67b442;
					border-right: none;
					border-radius: 232px 0px 0px 232px;
					padding-right: 0;
					padding-left: 20px;
					@include media(s) {
						padding-right: 0 !important;
						padding-left: 24px !important;
					}
				}
			}
		}
		.d-title {
			&::after {
				display: none;
			}
		}
		.info {
			max-width: 500px;
			color: #3fa145;
			@include media(s) {
				padding: 0 24px;
				padding-right: 0;
			}
			.d-title {
				margin-bottom: 40px;
			}
			.d-text {
				text-align: center;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 32px;
			}
			.button--container {
				padding: 0 50px;
				@include media(s) {
					padding: 0 24px;
				}
				.tag {
					padding: 8px 20px;
					width: 100%;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					display: flex;
					justify-content: space-between;
					color: #97ca6b;
					text-decoration: none;
					font-style: normal;
					font-weight: 600;
				}
			}
		}
		.wall {
			background-color: #67b442;

			border-radius: 0px 232px 232px 0px;
			max-width: 700px;
			width: 100%;
			flex-shrink: 0;
			height: 325px;
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: end;
			@include media(s) {
				height: 150px;
			}
			img {
				margin-right: -5px;
				max-width: 100%;
				height: auto;
				margin-bottom: -10px;
				display: block;
				z-index: 3;
				@include media(s) {
					margin-bottom: -10px;
				}
			}
			&-obj {
				position: absolute;
				z-index: 1;
				top: -30px;
				max-width: 650px;
				&.bomilho {
					max-width: 400px;
					right: 0;
					left: 0;
					margin: 0 auto;
				}
				@include media(s) {
					max-width: 80%;
					top: 5px;
				}
			}
			&_holder {
				padding: 20px;
				padding-left: 0;
				position: relative;
				border: 1px solid #67b442;
				border-radius: 0px 232px 232px 0px;
				border-left: none;
			}
		}
	}
}
