.hero {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 85vh;
	padding-top: 250px;
	position: relative;
	z-index: 3;
	&.slider-home {
		height: 100%;
		padding-top: 0;
		.slick-arrow {
			display: none !important;
		}
		.slick-slide {
			.hero_title {
				margin: 0;
				img {
					width: 100%;
				}
				.desktop-only {
					@include media(s) {
						display: none;
					}
				}
			}
			background-size: 103% 100%;
			background-repeat: no-repeat;
			background-position: center;
			padding-top: 315px;
			height: 80vh;
			@media (min-width: 1800px) {
				padding-top: 350px;
			}
			@media (min-width: 1440px) and (max-width: 1513px) {
				padding-top: 310px;
			}
			@media (min-width: 1280px) and (max-width: 1366px) {
				padding-top: 300px;
			}
			@include media(s) {
				background-size: cover;
				height: 60vh;
				padding-top: 213px;
			}
		}
	}
	@include media(s) {
		padding-top: 200px;
		height: 650px;
		background-size: cover;
	}
	&_container {
		overflow: hidden;
		@include media(s) {
			.mobile-only {
				display: flex;
				flex-wrap: wrap;

				img {
					width: 100%;
				}
				span {
					display: block;
					width: 100%;
					font-size: 40px;
					line-height: 50px;
					color: #fff;
					font-weight: 900;
					padding-left: 48px;
				}
				.text-right {
					text-align: right;
					padding-right: 48px;
					margin-top: -100px;
					position: relative;
					z-index: 2;
				}
			}
		}
	}
	&_title {
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.borda-hero {
	margin-top: -121px;
	position: relative;
	z-index: 10;
	width: 100%;
	@media (max-width: 1513px) {
		margin-top: -100px;
	}
	@include media(s) {
		margin-top: -45px !important;
	}
}
.tag {
	background: linear-gradient(white, white) padding-box,
		linear-gradient(to right, #85bb40, #fbde00, #dad422, #c0d03e, #77c58c, #1eb8eb, #1e93cc, #1e458d) border-box;
	border-radius: 64px;
	border: 1px solid transparent;
	display: inline-block;
	font-weight: 400;
	font-family: "Poppins", sans-serif;

	font-size: 18px;
	line-height: 26px;
	padding: 6px 20px;
	color: #1e67a9;
	font-style: italic;
	@include media(s) {
		font-size: 12px;
		line-height: 14px;
	}
}
.bg-product {
	background: url("../assets/bg-products.png?as=webp");
	@include media(s) {
		background-size: 1400px;
	}
}
.product {
	margin-top: -100px;
	padding: 54px 0 84px;
	z-index: 11;
	background: url("../assets/fundo-azul.png?as=webp");
	background-size: contain;
	background-repeat: repeat;
	background-position: top center;
	padding-top: 0px;
	position: relative;
	@include media(s) {
		overflow: hidden;
		background-repeat: repeat;
		margin-top: -40px;
	}

	&::before {
		content: url("../assets/enfeiteh-l.png?as=webp");
		position: absolute;
		left: 0;
		top: -50px;
		display: none;
		@include media(s) {
			transform: scale(0.7);
			left: -30%;
			top: -100px;
		}
	}
	&::after {
		content: url("../assets/enfeiteh-r.png?as=webp");
		position: absolute;
		right: 0;
		top: -70px;
		z-index: 11;
		display: none;
		@include media(s) {
			transform: scale(0.5);
			right: -30%;
			top: -100px;
		}
	}
	&_container {
		max-width: 1084px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include media(s) {
			padding: 0 24px;
			overflow: hidden;
		}
	}
	&_title {
		color: #1e67a9;
		font-weight: 600;
		font-family: "Poppins", sans-serif;

		font-size: 42px;
		line-height: 51px;
		margin-top: 48px;
		@include media(s) {
			font-size: 20px;
			line-height: 17px;
			padding: 0 32px;

			text-align: center;
			margin-bottom: 24px;
		}
		&::after {
			position: absolute;
		}
	}
	&_desc {
		font-family: "Poppins", sans-serif;

		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		max-width: 860px;
		margin: 0px auto 68px;
		color: #1e67a9;
		text-align: center;
		@include media(s) {
			font-size: 12px;
			line-height: 14px;
		}
	}
	&_card {
		display: flex;
		max-width: 1000px;
		width: 100%;
		position: relative;
		transition: all 0.3s ease-in;
		justify-content: center;
		margin-bottom: 104px;
		@include media(s) {
			flex-direction: column;
		}
		&-img {
			position: relative;
			height: 100%;
			transition: all 0.3s ease-in;
			text-align: center;
			@include media(s) {
				text-align: center;
			}
			img {
				max-width: 75%;
			}
			.position-absolute {
				left: 0px;

				max-width: 75%;
				bottom: -40px;
				&.invc {
					right: 0;
					margin: 0 auto;
					bottom: 0;
				}
				&.bemte {
					bottom: -100px;
					left: 0px;
					@include media(s) {
						left: 0;
						right: 0;
						margin: 0 auto;
						bottom: -50px;
						max-width: 60%;
					}
				}
				@include media(s) {
					left: 0;
					bottom: -20px;
				}
			}
		}

		img {
			position: relative;
			z-index: 2;
		}
		&--text {
			max-width: 600px;
			background-color: #108cff;
			padding: 40px;
			padding-left: 150px;
			height: 346px;
			top: 10%;
			border-radius: 40px;
			opacity: 0;
			position: absolute;
			left: 270px;
			color: #fff;
			transition: all 0.3s ease-in;

			h4 {
				font-weight: 600;
				font-family: "Poppins", sans-serif;

				font-size: 18px;
				line-height: 22px;
				margin-bottom: 16px;
			}
			p {
				margin-bottom: 40px;
			}

			.button {
				&--container {
					display: inline-block;
					width: 218px;
				}
				color: #fff;
				text-decoration: none;
				padding: 8px 32px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				max-width: 100%;
				background-color: #fff;
				color: #0766d2;
				font-weight: 600;
				transition: all 0.3s ease-in;

				border-radius: 32px;
				width: 100%;
				&:hover {
					background-color: #0766d2;
					color: #fff;
					svg {
						path {
							stroke: #fff;
						}
					}
					.star {
						path {
							stroke: unset;
							fill: #fff;
						}
					}
				}
			}
		}

		&:hover {
			.product_card-img {
				margin-right: 300px;
				@include media(s) {
					margin: 0;
				}
			}
			.product_card--text {
				width: 100%;
				display: block;
				opacity: 1;
				left: 440px;
				@include media(s) {
					left: 0;
					margin-top: 40px;
					position: relative;
					padding: 24px;
				}
			}
		}
	}
	&_brands {
		background-color: rgba(255, 255, 255, 0.6);
		border: 1px solid #008bec;
		margin-top: 60px;
		border-radius: 12px;
		padding: 0px 60px;
		display: flex;
		height: 152px;
		width: 100%;
		justify-content: center;
		gap: 20px;
		align-items: center;
		max-width: 800px;
		margin: 0 auto;

		@include media(s) {
			overflow: auto;
			justify-content: start;
			margin-top: -40px;
			img {
				max-width: 100px;
				object-fit: cover;
			}
		}
		img {
			display: block;
			max-width: 150px;
			height: auto;
			max-height: 120px;
		}
	}
	&_btn {
		font-weight: 400;
		font-family: "Poppins", sans-serif;

		font-size: 16px;
		line-height: 19px;
		margin-top: 80px;
		background-color: #fff;
		border-radius: 33px;
		a {
			text-decoration: none;
			width: 360px;
			display: block;
			border: 1px solid #1e67a9;
			padding: 6px 32px;
			display: flex;
			font-weight: 600;
			font-family: "Poppins", sans-serif;

			font-size: 16px;
			line-height: 19px;
			border-radius: 33px;
			justify-content: space-between;
			align-items: center;
			transition: all 0.3s ease;
			@include media(s) {
				width: 100%;
				gap: 12px;
				padding: 6px 12px;
			}
		}
		&:hover {
			background-color: #1e67a9;
			a {
				color: #fff;
			}
			svg {
				path {
					stroke: #fff;
				}
			}
			.star {
				path {
					stroke: unset;
					fill: #fff;
				}
			}
		}
		@include media(s) {
			max-width: 100%;
			margin: 40px auto 0;
			width: 100%;
			a {
				width: 100%;
			}
		}
	}
	&.yellow {
		padding-top: 154px;
		margin-top: 0;
		background: url("../assets/fundo-amarelo.svg");
		@include media(s) {
			padding-top: 0px;
		}
		.product_card-img {
			.position-absolute {
				right: 50px;
				left: 0;
				margin: 0 auto;
				max-width: 75%;
				bottom: 45px;
				@include media(s) {
					left: 0;
					right: 0;
				}
			}
		}
		.sep {
			top: 60px;
			position: absolute;
			@include media(s) {
				top: 0;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		.product_title {
			color: #f9a61d;
		}
		.product_desc {
			color: #f9a61d;
		}
		.product_brands {
			border-color: #f9a51a;
			gap: 48px;
			padding: 20px 60px;
			margin: 0;
			@include media(s) {
				margin-top: -40px;
			}
			img {
				max-width: 100px;
			}
		}
		.product_btn {
			display: inline-block;
			a {
				border-color: #f9a51a;
				color: #f9a51a;
			}
			&:hover {
				background-color: #f9a51a;
				a {
					color: #fff;
				}
				svg {
					path {
						stroke: #fff;
					}
				}
				.star {
					path {
						stroke: unset;
						fill: #fff;
					}
				}
			}
		}

		.product_card--text {
			background-color: #ff9211;
			.button--container {
				a {
					color: #f9a51a;
					&:hover {
						color: #fff;

						background-color: #f9a51a;
					}
				}
			}
		}
	}
	&.roxo {
		margin-top: 0;
		padding-top: 150px;
		background-position: top center;
		background-repeat: repeat;

		padding-bottom: 250px;
		@include media(s) {
			padding-top: 60px;
			padding-bottom: 140px;
			margin-bottom: -20px;
		}
		.product_card-img {
			.position-absolute {
				right: 50px;
				left: 0;
				margin: 0 auto;
				max-width: 65%;
				bottom: 60px;
				@include media(s) {
					left: 0;
					right: 0;
				}
			}
		}
		.sep {
			top: 60px;
			position: absolute;
			@include media(s) {
				top: 0;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		.product_title {
			color: #8f4bc0;
			@include media(s) {
				margin-top: 0;
			}
		}
		.product_desc {
			color: #8f4bc0;
		}
		.product_btn {
			display: inline-block;
			a {
				border-color: #a86bd3;
				color: #9958c8;
			}
			&:hover {
				background-color: #a86bd3;
				a {
					color: #fff;
				}
				svg {
					path {
						stroke: #fff;
					}
				}
				.star {
					path {
						stroke: unset;
						fill: #fff;
					}
				}
			}
			@include media(s) {
				margin-top: 0;
			}
		}
		.product_card--text {
			background-color: #7e39b0;

			.button--container {
				a {
					color: #772cae;
					&:hover {
						color: #fff;
						background-color: #772cae;
					}
				}
			}
		}
	}
}

.mundo {
	position: relative;
	padding: 40px 0px;
	padding-top: 80px;
	overflow: hidden;
	margin-top: -120px;
	@include media(s) {
		margin-top: -131px;
	}
	.mobile-only {
		width: 100%;
		margin-bottom: -35px;
		position: relative;
		z-index: 3;
	}
	.bdb {
		position: absolute;
		bottom: 13px;
		@include media(s) {
			display: none;
		}
	}
	.bdc {
		position: absolute;
		top: 19px;
		z-index: 4;
		max-width: 100%;
		@media (min-width: 1280px) {
			top: 25px;
		}
		@media (min-width: 1366px) {
			top: 23px;
		}
		@media (min-width: 1440px) {
			top: 20px;
		}
		@media (min-width: 1800px) {
			top: 11px !important;
		}
	}
	&_container {
		.slick-dots {
			display: flex;
			justify-content: center;

			position: absolute;
			padding: 0;
			list-style-type: none;
			max-width: 1200px;
			margin: 0 auto;

			width: 100%;
			left: 0;
			right: 0;

			justify-content: start;
			bottom: 40%;
			gap: 10px;
			@include media(s) {
				bottom: unset;
				top: 120px;
				justify-content: center;
			}
			li {
				margin: 0;
			}

			button {
				display: block;
				width: 70px;
				height: 3px;
				padding: 0;

				border: none;
				border-radius: 0;
				background-color: rgba(255, 255, 255, 0.3);

				text-indent: -9999px;
			}

			li.slick-active button {
				background: linear-gradient(transparent, transparent) padding-box,
					linear-gradient(to right, #85bb40, #fbde00, #dad422, #c0d03e, #77c58c, #1eb8eb, #1e93cc, #1e458d) border-box;
			}
		}
	}
	&_card {
		background: url("../assets/mundo-imh.png?as=webp");
		mask-image: url("../assets/curva.svg");
		height: 600px;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 120px;
		@include media(s) {
			height: 1092px;
			padding-top: 60px;
			padding-bottom: 200px;
			mask-image: unset;
		}
		&:first-child {
			.mundo_holder {
				align-items: start;
			}
		}
		&:nth-child(2) {
			.mundo_holder {
				align-items: start;
			}
			.left-column {
				padding-top: 30px;
				.mundo_card--title {
					span {
						font-size: 66px;
						line-height: 60px;
					}
					@include media(s) {
						margin-bottom: 0px;
						padding-top: 60px;
						span {
							font-size: 32px;
							line-height: 32px;
						}
					}
				}
			}
			.right-column {
				backdrop-filter: none;
				background-color: transparent;
				box-shadow: none;
				display: flex;
				width: 100%;
				max-width: 592px;
				gap: 16px;
				flex-wrap: wrap;
				height: 364px;
				position: relative;
				padding: 0;
				@include media(s) {
					padding-top: 40px;
					height: 100%;
					padding-bottom: 40px;
					justify-content: space-between;
					overflow: auto;
					flex: nowrap;
				}

				.hero_card {
					max-width: 288px;
					width: 100%;
					padding: 20px;
					border-radius: 0px 0px 0px 24px;
					background: url("../assets/ca-hero-ht.svg");
					background-repeat: no-repeat;
					background-size: cover;
					height: 174px;
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: start;
					color: #fff;
					@include media(s) {
						max-width: 100%;
						height: 100%;
					}
					.text {
						@include text;
						font-size: 14px;
						@include media(s) {
							font-size: 14px;
							line-height: 16px;
						}
					}
					&:first-child {
						position: relative;
						.text {
							font-style: italic;
						}
					}
					&:nth-child(2) {
						background: url("../assets/cl-hero-hist.svg");
						position: relative;
						background-repeat: no-repeat;
						background-size: cover;
						.text,
						.number {
							color: #604007;
						}
						.text {
							font-style: italic;
						}

						border-radius: 12px 24px 12px 24px;
					}
					&:nth-child(3) {
						background: url("../assets/cv-hero-ht.svg");
						background-repeat: no-repeat;
						background-size: cover;

						border-radius: 24px 12px 12px 12px;
						.text {
							font-style: italic;
						}
					}
					&:nth-child(4) {
						background: url("../assets/cac-hero-ht.svg");
						background-repeat: no-repeat;
						background-size: cover;

						.number {
							position: relative;
							z-index: 2;
							color: #003240;
						}
						.text {
							color: #003240;
						}
						position: relative;
						overflow: hidden;

						border-radius: 12px;
					}
					.number {
						text-align: left;
						font-weight: bold;
					}
				}
			}
		}
		&:nth-child(3) {
			.mundo_holder {
				@include media(s) {
					justify-content: start;
					align-items: start;
				}
				.left-column {
					margin-top: -60px;

					@include media(s) {
						margin-top: 0;
						padding-top: 80px;
						justify-content: start;
						.mundo_card--title {
							margin-bottom: 0;
							text-align: left;
							width: 100%;
							display: block;
							flex-shrink: 0;
						}
					}
				}
				.right-column {
					@include media(s) {
						flex-direction: column;
						.hero_card {
							width: 100%;
							max-width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
	&_holder {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		color: #fff;
		align-items: center;
		@include media(s) {
			flex-direction: column;
			padding: 0 24px;
		}
		.tag {
			border-color: rgba(133, 187, 64, 1);
			background: transparent;
			color: #fff;
			margin-bottom: 40px;
			@include media(s) {
				margin-bottom: 80px;
			}
		}
		.left-column {
			.mundo_card--title {
				font-family: "Poppins", sans-serif;
				font-weight: 600;
				font-size: 55px;
				line-height: 50px;
				@include media(s) {
					font-size: 24px;
					line-height: 22px;
					margin-bottom: 40px;
				}
				span {
					font-family: "Poppins", sans-serif;

					font-size: 96px;
					line-height: 88px;
					@include media(s) {
						font-size: 47px;
						line-height: 44px;
						display: block;
						width: 100%;
					}
				}
			}
			@include media(s) {
				display: flex;
				flex-direction: column;

				align-items: center;
				justify-content: center;
			}
		}
		.right-column {
			max-width: 448px;
			background: rgba(1, 29, 54, 0.25);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(12px);
			// -webkit-backdrop-filter: blur(5px);
			border-radius: 8px;
			padding: 40px;
			color: #fff;
			&.noronha {
				display: flex;
				backdrop-filter: none;
				background-color: transparent;
				box-shadow: none;
				width: 100%;
				max-width: 592px;
				gap: 16px;
				flex-wrap: wrap;
				height: 364px;
				position: relative;
				padding: 0;
				position: relative;
				z-index: 2;
				@include media(s) {
					padding-top: 40px;
					height: 100%;
					padding-bottom: 40px;
					justify-content: space-between;
				}

				.hero_card {
					max-width: 288px;
					width: 100%;
					padding: 20px;
					border-radius: 0px 0px 0px 24px;
					background: url("../assets/dgd-home.svg");
					background-repeat: no-repeat;
					background-size: cover;

					height: 174px;
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					justify-content: center;
					gap: 10px;
					color: #fff;
					@include media(s) {
						max-width: 147px;
						height: 110px;
					}
					.text {
						@include text;
						text-align: center;
						font-size: 42px;
						font-weight: bold;
						@include media(s) {
							font-size: 30px;
							line-height: 30px;
						}
					}
					&:first-child {
						position: relative;
						.number {
							font-size: 54px;
						}
						.text {
							font-size: 72px;
							line-height: 42px;
						}
					}
					&:nth-child(2) {
						background: url("../assets/dgd-home-2.svg");
						position: relative;
						border-radius: 12px 24px 12px 24px;
						background-repeat: no-repeat;
						background-size: cover;

						gap: 0;
						.text {
							font-size: 32px;
							line-height: 32px;
							margin: 0;
						}
					}
					&:nth-child(3) {
						background: url("../assets/dgd-home-3.svg");
						background-repeat: no-repeat;
						background-size: cover;
						.text {
							font-size: 24px;
							@include media(s) {
								font-size: 16px;
							}
						}
						border-radius: 24px 12px 12px 12px;
					}
					&:nth-child(4) {
						background: url("../assets/cac-hero-ht.svg");
						background-repeat: no-repeat;
						background-size: cover;
						.number {
							position: relative;
							z-index: 2;
						}
						.text {
							font-size: 20px;
							position: relative;
							z-index: 2;
							@include media(s) {
								font-size: 16px;
								line-height: 18px;
							}
						}
						position: relative;
						overflow: hidden;

						border-radius: 12px;
					}
					.number {
						@include general-title;
						font-size: 57px;
						line-height: 63px;
						text-align: center;
						@include media(s) {
							font-size: 40px;
							line-height: 40px;
						}
					}
				}
			}
			.mundo_card--sub-title {
				font-weight: bold;
				font-family: "Poppins", sans-serif;

				font-size: 16px;
				line-height: 19px;
				margin-bottom: 24px;
			}
			.mundo_card--desc {
				margin: 0;
				font-style: italic;
			}
		}
	}
	.arrows {
		max-width: 95%;
		position: absolute;
		height: 100px;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 40%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (min-width: 1600px) {
			max-width: 75%;
		}
		@include media(s) {
			max-width: 30%;
			top: unset;
			bottom: 100px;
			right: 20px;
			left: unset;
		}
	}
	.prev,
	.next {
		position: absolute;
		border: 1px solid #fff;
		background-color: rgba(255, 255, 255, 0.1);
		padding: 12px;
		border-radius: 50%;
		cursor: pointer;
		width: 50px;
		height: 50px;
		text-align: center;
		img {
			max-width: 20px;
		}
	}
	.next {
		right: 0;
	}
}

.blog-card {
	padding: 80px 0px;
	display: none;
	&_container {
		.tag {
			display: inline-block;
			width: 235px;
			font-weight: 400;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 1148px;
		margin: 0 auto;
	}
	&__title {
		font-family: "Poppins", sans-serif;

		font-size: 42px;
		line-height: 51px;
		font-weight: 600;
		margin-top: 28px;
		color: #1e67a9;
	}
	&__desc {
		color: #1e67a9;
	}
	&__content {
		margin: 64px 0;
		display: flex;
		gap: 56px;
		@include media(s) {
			overflow: auto;
			justify-content: start;
		}
	}
	.button--container {
		a {
			width: 320px;
			padding: 6px 40px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #5f88f2;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
			font-style: normal;
			border: 1px solid #fbde00;
			&:hover {
				background: #008bec;
				svg {
					path {
						stroke: #fff;
					}
				}
				color: #fff;
				.star {
					stroke: unset;
					fill: #fff;
				}
			}
		}
	}
	&__card {
		max-width: 364px;
		background: url("../assets/blog-card.png?as=webp");
		border-radius: 20px;

		height: 441px;
		padding: 25px;
		color: #fff;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		transition: all 0.3s ease-in;
		.category {
			border: 1px solid #fff;
			padding: 4px 12px;
			position: absolute;
			font-weight: 600;
			font-family: "Poppins", sans-serif;

			font-size: 14px;
			line-height: 17px;
			background-color: rgba(26, 169, 249, 0.73);
			border-radius: 64px;
		}
		&::after {
			transition: all 0.3s ease-in;
		}
		.button--container {
			max-width: 300px;
			margin: 0 auto;
			margin-top: 27px;
			position: relative;
			z-index: 2;
			display: none;
			transition: all 0.3s ease-in;

			a {
				background-color: #fff;
				border-radius: 33px;
				width: 300px;
				font-weight: bold;
			}
		}
		&-title {
			margin-top: auto;
			position: relative;
			transition: all 0.3s ease-in;
			font-weight: 600;
			z-index: 2;
		}
		&:hover {
			&::after {
				content: url("../assets/onda-card.svg");
				position: absolute;
				bottom: -10px;
				left: 0;
			}
			.button--container {
				display: block;
			}
		}
	}
}

.news {
	height: 401px;
	background: url("../assets/fundo-news.png?as=webp");
	position: relative;
	z-index: 3;
	display: none;
	&__container {
		display: flex;
		max-width: 1240px;
		margin: 0 auto;
		padding-top: 87px;
		justify-content: space-between;
		.left-column {
			max-width: 629px;
			position: relative;
			&::before {
				content: url("../assets/bd-news.svg");
				position: absolute;
				left: -40px;
			}
		}
		.right-column {
			form {
				.form-group {
					margin-bottom: 12px;
					input {
						border-color: rgba(30, 103, 169, 0.1);
						color: #1e67a9;
						font-weight: 400;
						font-family: "Poppins", sans-serif;

						font-size: 16px;
						height: 39px;
						line-height: 19px;
						&::placeholder {
							color: #1e67a9;
							font-weight: 400;
							font-family: "Poppins", sans-serif;

							font-size: 16px;
							line-height: 19px;
						}
					}
				}
				.form-row {
					gap: 40px;
					margin-top: 20px;
					align-items: center;
					.col-auto {
						.form-check {
							font-weight: 400;
							color: #1e67a9;
							font-weight: 400;
							margin: 0 !important;
							font-family: "Poppins", sans-serif;

							font-size: 16px;
							line-height: 19px;
							a {
								color: #1e67a9;
								font-weight: 500;
								font-family: "Poppins", sans-serif;

								font-size: 16px;
								line-height: 19px;
							}
						}
						.btn {
							background-color: #fbd900;
							color: #90600e;
							font-weight: 600;
							border: none;
						}
					}
				}
			}
		}
	}
	&__title {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		font-size: 76px;
		line-height: 73px;
		color: #1e67a9;
		margin-bottom: 16px;
	}
	&_desc {
		color: #1e67a9;
		font-weight: 400;
		font-family: "Poppins", sans-serif;
		margin: 0;
		font-size: 16px;
		line-height: 19px;
	}
}
