<div class="hero_container" style="background-image: url('./assets/capao.png')">
	<h1 class="hero_title">
		<img class="desktop-" src="./assets/casa.png?as=webp" alt="" />
		<!-- <div class="mobile-only">
						<span class="text-left">Toda</span>
						<img src="./assets/casa-mobile.png?as=webp" alt="" />
						<span class="text-right">tem</span>
					</div> -->
	</h1>
</div>
<div class="hero_container" style="background-image: url('./assets/img-carinho.png'); padding-top: 179px">
	<h1 class="hero_title">
		<img src="./assets/cuidado.png?as=webp" alt="" />
	</h1>
</div>
<div class="hero_container" style="background-image: url('./assets/img-sabor.png'); padding-top: 180px">
	<h1 class="hero_title">
		<img src="./assets/sabor.png?as=webp" alt="" />
	</h1>
</div>
<div class="hero_container" style="background-image: url('./assets/img-trad.png'); padding-top: 180px">
	<h1 class="hero_title">
		<img src="./assets/tradicao.png?as=webp" alt="" />
	</h1>
</div>

<div class="arrows hero">
	<div class="next">
		<img src="./assets/seta-after.svg" alt="" />
	</div>
	<div class="prev">
		<img src="./assets/seta-before.svg" alt="" />
	</div>
</div>
